
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    @Html.Raw(ViewBag.Mensaje)
</div>
<div class="col-md-12 text-center">
    <button>   @Html.ActionLink("Volver a lista", "Index")</button>
</div>



