
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @Html.Raw(ViewBag.GridViewString)
        </div>
    </div>
</div>

