body {
}
.form-group-custom{
    min-height: 78px;
}
.btn-buscar{
    margin-top: 24px;
}
.grilla-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: auto;  
    padding: 8px;
}

a{
    text-decoration: none !important;
}
#barChartAmoniaco {
    background-color: green;
    border-radius: 6px;
    /*   Check out the fancy shadow  on this one */
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);
}

#barChartHumedad {
    background-color: #1FE6E6;
    border-radius: 6px;
    /*   Check out the fancy shadow  on this one */
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);
}


#barChartTemperatura {
    background-color: #E76BCC;
    ;
    border-radius: 6px;
    /*   Check out the fancy shadow  on this one */
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.6);
}
