body {
}
.form-group-custom{
    min-height: 78px;
}
.btn-buscar{
    margin-top: 24px;
}
.grilla-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: auto;  
    padding: 8px;
}

a{
    text-decoration: none !important;
}
